/* This stylesheet is used to style the admin option form of the plugin. */

#toplevel_page_ninjaforms-data-manager .wp-menu-image img {
	padding: 5px 0 0;
	width: 22px;
}

#toplevel_page_ninjaforms-data-manager .wp-submenu a.wp-first-item {
	display: none;
}

#misc-publishing-actions .dashicons {
	color: #888;
}